.result_display {
	height: 60px;
	width: 200px;
	border: 1px solid;
	font-size: 2em;
}

button {
	width: 60px;
	height: 60px;
}

input {
	width: 200px;
	height: 60px;
	font-size: 2em;
}

#doublesize {
	width: 60px;
}

.calc_screen {
    display: inline-block;
    width: 220px;
    margin-left: 12px;
    margin-bottom: 15px;
}

.calc_body {
    width: 260px;
    margin: 0 auto;
}