@font-face {
	font-family: calculator-style;
	src: url(fonts/digital-7.ttf);
}

body {
	background-image: url("images/wood-background.jpg");
}

.result_display {
	height: 60px;
	width: 200px;
	border: 1px solid;
	font-size: 2em;
}

button {
	width: 60px;
	height: 60px;
	border-radius: 15px;
	background-color: white;
}

input {
	width: 200px;
	height: 60px;
	font-size: 2em;
}

.calc_screen {
    display: inline-block;
    width: 220px;
    margin-bottom: 15px;
    font-family: calculator-style;
    font-size: 4em;
}

.calc_body {
    width: 310px;
	height: 450px;
    margin: 0 auto;
	border: 1px solid black;
    border-radius: 25px;
    /*background-color: rgb(120,120,120);*/
    background-image: url("images/aluminum.jpg");
    margin-top: 10%;

}

.calc_area {
    text-align: center;
    padding-top: 30px;
}